.container{
  position: relative;
  left: 13%;
  display: flex;
  justify-content: center;
  width: 87%;

  .slider_card{
    position: relative;
    top: 40px;
    width: 472px;
  }

  .recommendations{
    position: relative;
    top: 60px;
    width: 350px;
    height: 100vh;
  }
}


@media(max-width: 1024px){
  .container{
    left: 7%;

    .recommendations{
      display: none;
    }
  }
}