.container{
  position: relative;
  left: 13%;
  display: flex;
  justify-content: center;
  width: 87%;

  .slider_card{
    position: relative;
    top: 40px;
    width: 472px;


    .add_cart_btn{
      width: 100%;
      margin: auto;
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      

      svg{
        width: 70px;
        height: 70px;
        transition: .2s;

        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }

  .recommendations{
    position: relative;
    top: 60px;
    width: 350px;
    height: 100vh;
  }
}


@media(max-width: 1024px){
  .container{
    left: 7%;

    .recommendations{
      display: none;
    }
  }
}