.container{
  width: 1800px;
  margin: auto;
  
  .row{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 6rem;

    gap: 10px;

    .login_form{
      text-align: center;
      width: 300px;
      border: 1px solid #a4a4a4;
      padding: 20px;
  
      .login_form_logo{
        color: white
      }
    }
  
    .login_route_data{
      text-align: center;
      width: 300px;
      border: 1px solid #a4a4a4;
      padding: 20px;
    }
  
    .dowlooad_image_data{
      display: flex;
      justify-content: center;
      gap: 20px;
  
      .dowlooad_image{
        width: 120px;
        cursor: pointer;
      }
    }
  }

}



@media(max-width:1790px){
  .container{
    width: 100%;
  }
}