@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');


*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{

  .mobile_sidebare{
    display: none;
  }

  .sidebare{
    position: fixed;
    left: 0;
    height: 100%;
    border-right: 1px solid #dbdbdb  ;
    background-color: white;
    width: 245px;
    padding: 6px 14px;
    z-index: 10;

    &.active{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 78px;
      border-right: 1px solid #dbdbdb  ;
      padding: 6px 14px;
      z-index: 10;



      .logo_data{

        img{
          display: none;
        }
      }

      .links_name{
        display: none;
      }

      .nav_list{
        position: relative;


        li{
          position: relative;
          list-style: none;
          height: 50px;
          width: 100%;
          line-height: 50px ;
          margin: 10px 0; 
          cursor: pointer;
    
    
          a{
            color: #000;
            display: flex;
            align-items: center;
            text-decoration: none;
            border-radius: 12px;
            white-space: nowrap;
    
            &:hover{
              background:aliceblue ;
            }
          }
    
          i{
            text-align: center;
            height: 50px;
            min-width: 50px;
            border-radius: 12px;
            line-height: 50px ;
          }
        }
      }

      .menu_data{
        left: 10px;

        
        p{
          display: none;
        }
      }
    }
  
    
    .logo_data{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    #btn{
      position: absolute;
      color: #000;
      left: 90%;
      top: 6px;
      font-size: 20px;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 50px;
      transform: translate(-50%);
      cursor: pointer;
    }
  
    .links_name{
      opacity: 1;
      pointer-events: auto;
    }
  
    .logo_data{
      
      cursor: pointer;


      img {
        width: 135px;
        height: 45px;
        object-fit: cover;
        padding-left: 11px;
      }

      
      svg {
        font-size: 24px;
      }

    }

    .acite_test{

      &.active{
        font-weight: 500;
      }

      &.active2{
        font-weight: 500;
      }
    }


    ul{
      position: relative;
      margin: 0;
      padding: 0;
  
      li{
        position: relative;
        list-style: none;
        height: 50px;
        line-height: 50px ;
        margin: 10px 0; 
        cursor: pointer;
  
  
    
        a{
          color: #000;
          display: flex;
          align-items: center;
          text-decoration: none;
          border-radius: 12px;
          white-space: nowrap;
  
          &:hover{
            background-color: rgba(250, 250, 250);

          }
        }
  
        i{
          text-align: center;
          height: 50px;
          min-width: 50px;
          border-radius: 12px;
          line-height: 50px ;
        }
  
        
      }
    }
  
    .menu_data{
      
      position: absolute;
      color: #000;
      bottom: 2rem;
      left: 0;
      width: 90%;


      .menu{
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        left: 10px;
        height: 35px;
        gap: 20px;
        border-radius: 18px;
        
        &:hover{
          background-color: rgba(250, 250, 250);
          
        }

      }
    }
  }
}
@media(max-width:1250px){
  .container{
    .sidebare{
      width: 48px;

      &.active {
        width: 200px;
      }



      .logo_data{
        left: 0;


        img{
          display: none;
        }
      }

      ul{
        position: relative;
        right: 15px;

        li{

          a{

            span{
              display: none;
            }
          }
        }
      }

      .menu_data{
  
        .menu{
          
          p{
            display: none;
          }
        }
      }
    }
  }
}


@media(max-width:760px){
  .container{

    .mobile_sidebare{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgb(219, 219, 219);
      width: 100%;
      height: 48px;
      padding: 20px;

      .mobile_logo_data{
        display: flex;
        align-items: center; 

        svg{
          width: 25px;
          height: 25px;
        }


        img{
          width: 80px;
          object-fit: cover;
        }
      }

      .search_block {
        display: flex;
        align-items: center;
        gap: 20px;

        .search {
          background-color: rgb(239, 239, 239);
          display: flex;
          align-items: center;
          border-radius: 8px;
          padding: 7px 16px;
          gap: 10px;

          input {
            border: 0;
            outline: 0;
            background: none;
          }
        }

        .like_data{

          svg{
            width: 30px;
            height: 30px;
          }
        }
      }
      .search_users_data{
        position: absolute;
        left: 0;
        top: 32px;
        z-index: 10;
        width: 100%;
        background-color: #aaaaaa;
        height: 300px;
        overflow-x: hidden;
    
        li{
          display: flex;
          list-style: none;
          cursor: pointer;
          padding: 0 20px;
          gap: 10px;
          height: 50px;
    
    
          .profile_image{
            width: 40px;
            height: 40px;
            border: 1px solid #aaaaaa;
            border-radius: 50%;
            object-fit: cover;
          }
    
          a{
            text-decoration: none;
          }
        }
      }
    
      .search_users_data::-webkit-scrollbar{
        width: 20px;
      }
      .search_users_data::-webkit-scrollbar-track{
        background: transparent;
      }
      .search_users_data::-webkit-scrollbar-thumb{
        background-color: #aaaaaa;
        border-radius: 20px;
        background-clip: content-box;
        border: 6px solid transparent;
      }
    }


    .sidebare{
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 50px;
      border-top: solid 1px #dbdbdb;

      .logo_data{
        display: none;
      }

      ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 0;
        padding: 0;

        li{
          width: 5%;
          list-style: none;

          a{
            color: #000;
            text-decoration: none;

            span{ 
              display: none;
            }
          }
    
          svg{
            width: 30px;
            height: 30px;
          }
        }
      }


      .menu_data{
        display: none;
      }
    }
  }
}


@media(max-width:425px){
  .container{

    .mobile_sidebare{
      .mobile_logo_data{
        img{
          display: none;
        }
      }
    }
  }
}
